body
{
	margin: 0;
	background-color: #b3e1ff;
}

#topwrap
{
	margin: 0 auto;

}

#uppernav
{
	margin: 0 auto;
	height: 70px;
	width: 1140px;
	background-color: #144b69;
	color: #18b3e7;
}

#content1
{
	padding-top: 20px;
	background-color: #072F44;
	width: 1140px;
	height: 570px;
	margin: 0 auto;
}

#content2
{
	padding-top: 40px;
	background-color: #072F44;
	width: 1140px;
	height: 500px;
	margin: 0 auto;
}


.positioner
{
	width: 960px;
	margin: 0 auto;
}

.titles
{
	font-family: 'Nova Square', cursive;
	font-size: 35px;
	float: left;
}

#navi
{
	float: right;
	font-family: 'Pacifico', cursive;
	font-size: 25px;
}

#navi ul
{
	list-style-type: none;
}

#navi li
{
	display: inline;
	padding-left: 10px;
}

a
{
	text-decoration: none;
	color: #18b3e7
}

a:hover
{
	color: #ffffff;
}

#sliderandcontent
{
	width: 960px;
	height: 550px;
	margin: 0 auto;
	margin-top: 90px;
}

#slider
{
	height: 420px;
	width: 	600px;
	float: left;
	background-color: #18b3e7;
	overflow: hidden;
	border-radius: 2px;
}

#maintext
{
	height: 420px;
	width: 	300px;
	float: right;
	background-color: #144b69;
	border-radius: 2px;
}

.lessertitles
{
	color: #e36867;
	font-family: 'Nova Square', cursive;
	text-align: center;
}

.info
{
	font-family: 'Nova Square', cursive;
	margin-left: 10px;
	margin-right: 5px;
	color: #ffffff;
}

.large
{
	font-size: 20px;
	color: #e36867;
}

#foottext
{
	font-family: 'Nova Square', cursive;
	color: #1eb4e7;
	text-align: center;
}

#foot
{
	width: 100%;
}

#howtowrap
{
	width: 960px;
	height: 400px;
	margin: 0 auto;
	margin-top: 120px;
}

.featureinfo
{
	width: 308px;
	height: 250px;
	border-radius: 2px;
	float: left;
}

.fi1
{
	background-color: #144b69;
	margin-left: 10px;
}

.fi2
{
	background-color: #e36867;
	margin-right: 8px;
	margin-left: 8px;
}

.fi3
{
	background-color: #18b3e7;
	margin-right: 10px
}

#contactinfo
{
	background-color: #18b3e7;
	width: 960px;
	height: 400px;
	border-radius: 2px;
	margin: 0 auto;
}

.ftitle 
{
	font-family:  'Nova Square', cursive;
	text-align: center;
}

.ftext 
{
	font-family:  'Nova Square', cursive;
	text-align: center;
}

.fcolor1
{
	color: #18b3e7;
}

.fcolor2
{
	color: #144b69;
}

.fcolor3
{
	color: #ffffff;
}

.ficon
{
	margin-right: 97.5px;
	margin-left: 97.5px;
}